---
config:
  :kb: yaml
  :verbose: false
  :output: console
  :mvc: ''
  :gemfile_scan: false
  :gemfile_name: ''
  :filename: 
  :debug: false
  :exit_on_warn: false
  :enabled_checks:
  - :generic_check
  - :code_quality
  - :bulletin
  - :code_style
  - :owasp_ror_cheatsheet
  - :owasp_top_10
