---
config:
  :verbose: false
  :output: console
  :mvc: ''
  :gemfile_scan: false
  :gemfile_name: ''
  :filename: 
  :debug: false
  :exit_on_warn: false
  :enabled_checks:
  - :generic_check
  - :code_quality
  - :cve_bulletin
  - :code_style
  - :owasp_ror_cheatsheet
  - :owasp_top_10_1
  - :owasp_top_10_2
  - :owasp_top_10_3
  - :owasp_top_10_4
  - :owasp_top_10_5
  - :owasp_top_10_6
  - :owasp_top_10_7
  - :owasp_top_10_8
  - :owasp_top_10_9
  - :owasp_top_10_10
