body {
  background: #FFF;
  color: #1B1B1B;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
#container {
  margin: 0 auto;
  width: 800px;
}
#header {
  padding: 0.5em 0 0 0;
  margin: 0;
  text-align: center;
  border-bottom: 3px solid #000;
}
#content {
  padding: 0;
  margin: 0;
}
#footer {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  text-align: center;
  border-top: 3px solid #000;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: .25em;
  font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
  margin-bottom: 1em;
  line-height: 1.3;
}
a {
  color: #095EAE;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#logo a:hover {
  text-decoration: none;
}
